<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Notes de frais{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('media/logo.ico') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
            <link href="{{ asset('css/custom-style.css') }}" rel="stylesheet">
        {% endblock %}
        <!-- Bootstrap core JS script -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <!-- jQuery core JS script -->
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <!-- Custom JS script -->
        <script src="{{ asset('js/custom-script.js') }}"></script>
    </head>
    <body>
        <header>
            <div class="d-flex justify-content-between">
                {% include '_partial/expense/_navbar.html.twig' %}
                <div class="div-logo-without-letters">
                    <a href="{{ path('app_home') }}"><img class="img-logo-without-letters" style="width: 3.5em; height: 3.5em; padding: 0.2em; margin-right: 1em; margin-top: 0.5em" src="{{ asset('media/logo-without-letters.jpg') }}" alt="Logo sans lettres"></a>
                </div>
            </div>
        </header>
        <main class="mt-5 mb-5">
            {% block body %}{% endblock %}
        </main>
        <footer class="mt-5 mb-5 text-center footer">
            {% include '_partial/expense/_footer.html.twig' %}
        </footer>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
