{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="d-flex justify-content-center">
            <div class="alert alert-success w-25 text-center">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <div class="container login-div">
        <h3>S'inscrire</h3>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            <div class="form-outline mb-4 w-25">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="form-outline mb-4 w-25">
                <div>
                    {{ form_row(registrationForm.surname) }}
                </div>
                <div>
                    {{ form_row(registrationForm.name) }}
                </div>
            </div>
            <div class="form-outline mb-4 w-25">
                {{ form_row(registrationForm.plainPassword) }}
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block mb-4">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
