{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="d-flex justify-content-center">
            <div class="alert alert-success w-25 text-center">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <div class="container login-div">
        <h3>S'inscrire</h3>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            <div class="form-outline mb-4 w-25">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="form-outline mb-4 w-25">
                <div>
                    {{ form_row(registrationForm.surname) }}
                </div>
                <div>
                    {{ form_row(registrationForm.name) }}
                </div>
                <div style="display: flex;flex-direction: column">
                    {{ form_label(registrationForm.phoneNumber, 'Numéro de téléphone', { 'attr': {'class': 'control-label'} }) }}
                    {{ form_widget(registrationForm.phoneNumber) }}
                </div>
                <div class="alert alert-error" style="display: none"></div>
                <div style="display: none">
                    {{ form_row(registrationForm.applicationRole) }}
                </div>
            </div>
            <div class="form-outline mb-4 w-25">
                {{ form_row(registrationForm.plainPassword) }}
            </div>
            <br>
            <button type="submit" class="btn button-submit-register btn-primary btn-block mb-4">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
    <script>
        $(function () {
            const phoneInputField = document.querySelector(".input-phone-number");
            const error = document.querySelector(".alert-error");
            const phoneInput = window.intlTelInput(phoneInputField, {
                initialCountry: "auto",
                geoIpLookup: function(callback) {
                    fetch("https://ipapi.co/json")
                        .then(function(res) { return res.json(); })
                        .then(function(data) { callback(data.country_code); })
                        .catch(function() { callback(); });
                },
                utilsScript:
                    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/19.5.7/js/utils.js",
            });

            $('form[name="registration_form"]').on('submit', function (event) {
                event.preventDefault();
                const phoneNumber = phoneInput.getNumber();
                error.style.display = "none";

                if (phoneInput.isValidNumber()) {
                    $('.input-phone-number').val(phoneNumber);
                    $(this).unbind('submit').submit(); // continue the submit unbind preventDefault
                } else {
                    error.style.display = "";
                    error.innerHTML = `Numéro de téléphone invalide.`;
                    return false;
                }
            })
        })
    </script>
{% endblock %}
