{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <section>
        <div class="container product-div">
            <section class="product-view-section">
                <div class="container">
                    <div class="row">
                        <div class="sub-wrapper-div d-flex justify-content-center">
                            <div class="product-img-div">
                                <img src="{{ asset('img/random_article.png') }}" style="width: 100%;" alt="">
                            </div>
                            <div class="product-info">
                                <div class="product-text">
                                    <h1>{{ product.name }}</h1>
                                    <h2 class="text-muted">{{ product.category }}</h2>
                                    <p>Mauris ut enim nisi. Class aptent taciti sociosqu ad litora torquent per conubia
                                        nostra, per inceptos himenaeos. Etiam fringilla, nunc id mattis fermentum.
                                    </p>
                                </div>
                                <div class="product-price-btn d-flex flex-column justify-content-center">
                                    <p class="text-center" style="margin: 0;"><span>{{ product.price|number_format(2, '.', ' ') }}</span> Cfa</p>
                                    {{ form_start(form, {'attr': {'class': 'p-2'}}) }}
                                        <div class="form-group">
                                            <div class="d-flex justify-content-evenly align-items-center">
                                                <button type="button" id="sub" class="minus btn btn-light"><strong>-</strong></button>
                                                {{ form_widget(form.quantity, {
                                                    'attr': {
                                                        'class': 'rounded border uk-margin uk-card uk-card-hover form-control quantity-value w-25 text-center' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
                                                    }
                                                }) }}
                                                <button type="button" id="add" class="plus btn btn-light"><strong>+</strong></button>
                                            </div>
                                            <div class="invalid-feedback">
                                                {{ form_errors(form.quantity) }}
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center mt-4">
                                            <div class="d-flex justify-content-center w-100 btn-cart-add-container">
{#                                                <a type="button" data-product-id="{{ product.id }}" class="w-100 btn">Ajouter au panier</a>#}
                                                <button data-product-id="{{ product.id }}" class="w-100" type="button"><strong>Ajouter au panier</strong></button>
                                            </div>
                                        </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script src="{{ asset('js/product.js') }}"></script>
    </section>
{% endblock %}
