{% extends 'base.html.twig' %}

{% block title %}Pompes{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="d-flex justify-content-end">
            <div class="alert text-center" style="background: #4CAF50!important;font-weight: 900 !important;">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="d-flex justify-content-end">
            <div class="alert text-center" style="background: #ff0000!important;font-weight: 900 !important;">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <div class="add-pump">
        <a href="{{ path('app_add_pump') }}">
            Ajouter une pompe
            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000"><path d="M446.67-280h66.66v-166.67H680v-66.66H513.33V-680h-66.66v166.67H280v66.66h166.67V-280Zm-260 160q-27 0-46.84-19.83Q120-159.67 120-186.67v-586.66q0-27 19.83-46.84Q159.67-840 186.67-840h586.66q27 0 46.84 19.83Q840-800.33 840-773.33v586.66q0 27-19.83 46.84Q800.33-120 773.33-120H186.67Zm0-66.67h586.66v-586.66H186.67v586.66Zm0-586.66v586.66-586.66Z"/></svg>
        </a>
    </div>
    {% for pump in pumps %}
        <div style="display: flex; margin-bottom: 5em" class="col-md-5 col-xs-12">
            <div style="display: flex;flex-direction: column;justify-content: space-between;">
                <div class="fw-bolder">
                    <div>
                        <div class="card p-2" style="width: 25rem;height: 30em;">
                            <div class="card-body">
                                <span>Quantité de gasoil</span>
                                <p class="card-text">{{ pump.getGasoilQuantity() }} L</p>
                                <span>Quantité d'essence</span>
                                <p class="card-text">{{ pump.getEssenceQuantity() }} L</p>
                                <div class="d-flex justify-content-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="200px" viewBox="0 -960 960 960" width="200px" fill="#000000"><path d="M160-120v-660q0-24 18-42t42-18h269q24 0 42 18t18 42v288h65q20.63 0 35.31 14.69Q664-462.63 664-442v219q0 21.68 15.5 36.34Q695-172 717-172t37.5-14.66Q770-201.32 770-223v-295q-11 6-23 9t-24 3q-39.48 0-66.74-27.26Q629-560.52 629-600q0-31.61 18-56.81Q665-682 695-690l-95-95 36-35 153 153q14 14 22.5 30.5T820-600v377q0 43.26-29.82 73.13-29.81 29.87-73 29.87Q674-120 644-149.87q-30-29.87-30-73.13v-219h-65v322H160Zm60-432h269v-228H220v228Zm503-4q18 0 31-13t13-31q0-18-13-31t-31-13q-18 0-31 13t-13 31q0 18 13 31t31 13ZM220-180h269v-312H220v312Zm269 0H220h269Z"/></svg>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a href="{{ path('app_edit_pump', {id: pump.id }) }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                                    Modifier cette pompe
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
