{% extends 'expense-base.html.twig' %}

{% block title %}Utilisateur id : {{ user.id }}{% endblock %}

{% block body %}
    <div class="main-sub container">
    <div class="row mt-5 d-flex flex-column align-items-center">
        <h1 class="text-center">Détail de l’utilisateur</h1>
        <div class="col-6 mt-5 d-flex flex-column align-items-center justify-content-evenly"  style="
                background: #dedddd;
                border-radius: 1em;
                padding: 1em;
                color: #232323;
        ">
            <p><strong>Prénom :</strong> {{ user.firstname|capitalize }}</p>
            <p><strong>Nom :</strong> {{ user.lastname|capitalize }}</p>
            <p><strong>Adresse email :</strong> {{ user.email }}</p>
            <p><strong>Rôle :</strong> {{ role|capitalize }}</p>
        </div>
    </div>
    <div class="div-link-back">
        <a href="{{ path('app_managerial_user_dashboard') }}" class="text-start">
            <img src="{{ asset('media/back.png') }}" alt="logo retour">
        </a>
    </div>
{% endblock %}