{% extends 'base.html.twig' %}

{% block title %}Modifier une cuve{% endblock %}

{% block body %}
    <div class="mt-5">
        {{ form_start(editTankForm) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(editTankForm) }}
        </div>

        <div class="row">
            <div style="display: flex;justify-content: center" class="mb-2 tank-form-element-div">
                {{ form_row(editTankForm.name) }}
            </div>
            <div style="display: flex;justify-content: center" class="mb-2 tank-form-element-div">
                {{ form_row(editTankForm.volume) }}
            </div>
            <div style="display: flex;justify-content: center" class="mb-2 tank-form-element-div">
                {{ form_row(editTankForm.quantityAvailable) }}
            </div>
            <div style="display: flex;justify-content: center" class="mb-4 tank-form-element-div">
                {{ form_row(editTankForm.fuelType) }}
            </div>
            <div style="display: flex;justify-content: center" class="col" id="">
                {{ form_row(editTankForm.save) }}
            </div>
        </div>
        {{ form_end(editTankForm) }}

    </div>
{% endblock %}
