{% extends 'base.html.twig' %}

{% block title %}Cuves{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="d-flex justify-content-end">
            <div class="alert w-25 text-center" style="background: #4CAF50!important;font-weight: 900 !important;">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <div class="add-tank">
        <a href="{{ path('app_add_tank') }}">
            Ajouter une cuve
            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000"><path d="M446.67-280h66.66v-166.67H680v-66.66H513.33V-680h-66.66v166.67H280v66.66h166.67V-280Zm-260 160q-27 0-46.84-19.83Q120-159.67 120-186.67v-586.66q0-27 19.83-46.84Q159.67-840 186.67-840h586.66q27 0 46.84 19.83Q840-800.33 840-773.33v586.66q0 27-19.83 46.84Q800.33-120 773.33-120H186.67Zm0-66.67h586.66v-586.66H186.67v586.66Zm0-586.66v586.66-586.66Z"/></svg>
        </a>
    </div>
    {% for tank in tanks %}
        <div style="display: flex; margin-bottom: 5em" class="col-md-12 col-xs-12 tanks-div">
            <div class="">
                <div class="tank">
                    <div class="fill">
                        <div class="mt-2">
                            <h5 data-quantity-available="{{ tank.getQuantityAvailable() }}"
                                class="font-weight-normal mt-1 quantity-available mb-0 text-center"></h5>
                        </div>
                        <br>
                        <div>
                            <h5 data-volume="{{ tank.getVolume() }}"
                                class="font-weight-normal mt-1 volume mb-0 text-center"></h5>
                        </div>
                    </div>
                    <div>
                        <h3 class="percentage text-center"></h3>
                    </div>
                </div>
            </div>
            <div class="div-quantity-available">
                <div>
                    <h5 class="font-weight-normal text-center"><span>{{ tank.getName() }}  : </span> <span
                                class="fw-medium">{{ tank.getFuelType() }}</span></h5>
                </div>
                <div>
                    <h5 class="font-weight-normal text-center">Quantité disponible</h5>
                    <h5 data-quantity-available="{{ tank.getQuantityAvailable() }}"
                        class="font-weight-normal mt-1 quantity-available mb-0 text-center fw-medium">{{ tank.getQuantityAvailable() }}
                        L</h5>
                </div>
            </div>
            <div style="display: flex;flex-direction: column;justify-content: space-around;">
                <div class="fw-bolder">
                    <a href="{{ path('app_edit_tank', {id: tank.id }) }}">
                        Modifier cette cuve
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                    </a>
                </div>
                <div>
                    <h5 class="font-weight-normal text-center">Volume</h5>
                    <h5 data-volume="{{ tank.getVolume() }}" class="font-weight-normal mt-1 volume mb-0 text-center fw-medium">{{ tank.getVolume() }} L</h5>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
