{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <section>
        <div class="container product-div">
            <section class="product-view-section">
                <div class="container">
                    <div class="row">
                        <div class="sub-wrapper-div sub-wrapper-div-product">
                            <div class="product-img-div w-25">
                                <img src="{{ asset('img/icons/random_article.png') }}" style="width: 100%;" alt="">
                            </div>
                            <div class="product-info w-50">
                                <div class="product-text">
                                    <h2>{{ product.name }}</h2>
                                    <h3 class="text-muted">{{ product.category }}</h3>
                                    <h4 class="" style="margin: 0;"><span>{{ product.price|number_format(2, '.', ' ') }}</span> Cfa</h4>
                                    <br>
                                    <p>Mauris ut enim nisi. Class aptent taciti sociosqu ad litora torquent per conubia
                                        nostra, per inceptos himenaeos. Etiam fringilla, nunc id mattis fermentum.
                                    </p>
                                </div>
                                <div class="product-price-btn d-flex flex-column justify-content-center">
                                    {{ form_start(form, {'attr': {'class': 'p-2'}}) }}
                                        <div class="form-group">
                                            <div class="div-product-quantity" style="display: flex">
                                                <button type="button" id="sub" class="minus btn btn-light"><strong>-</strong></button>
                                                {{ form_widget(form.quantity, {
                                                    'attr': {
                                                        'class': 'rounded border uk-margin uk-card uk-card-hover form-control quantity-value w-25 text-center' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
                                                    }
                                                }) }}
                                                <button type="button" id="add" class="plus btn btn-light"><strong>+</strong></button>
                                            </div>
                                            <div class="invalid-feedback">
                                                {{ form_errors(form.quantity) }}
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center mt-4 div-btn-cart-add-container">
                                            <div class="d-flex justify-content-center btn-cart-add-container">
                                                <button onclick="addToCart('{{ path('app_product_add_to_cart', {'id': product.id}) }}')" data-product-id="{{ product.id }}" class="w-100 btn"><strong>Ajouter au panier</strong></button>
                                            </div>
                                        </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script>
            let $container = $('.btn-cart-add-container');
            let $quantity = $('.quantity-value');
            let input = $quantity;
            let minValue = parseInt(input.attr('min'));
            let maxValue = parseInt(input.attr('max'));

            $('.plus').on('click', function () {
                let inputValue = input.val();
                if (inputValue < maxValue) {
                    input.val(parseInt(inputValue) + 1);
                }
            });

            $('.minus').on('click', function () {
                let inputValue = input.val();
                if (inputValue <= maxValue) {
                    if (inputValue > minValue) {
                        input.val(parseInt(inputValue) - 1);
                    }
                }
            });

            function addToCart(url){
                $.ajax({
                    url: url,
                    data: {quantity : $quantity},
                    method: 'POST',
                    type: 'json',
                    success: function(){
                        swal({
                            text: "Ajouté au panier!",
                            icon: "success",
                            buttons: false,
                            timer: 2000,
                        });
                    },
                    error: function (data) {
                        swal({
                            text: "Erreur! Regarde dans la console",
                            icon: "error",
                            buttons: false,
                            timer: 2000,
                        });
                        console.log(data);
                    }
                })
            }
        </script>
    </section>
{% endblock %}
