{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <section>
        <div class="container" style="display: flex;justify-content: center">
            <section class="col-md-12 col-lg-10 mb-4 mb-lg-0">
                <div class="row m-0 pt-2 pb-2">
                    {% for key,product in products %}
                        <div class="col-6 col-sm-4 col-md-4 col-lg-4 mb-4 d-flex justify-content-center">
                            <a class="w-100" href="{{ path('app_product_view', {id: product.id}) }}">
                                <div class="card">
                                    <img style="width: 100%" src="{{ asset('img/icons/random_article.png') }}" alt="article.image"/>
                                    <div class="card-body text-center">
                                        <div class="d-flex justify-content-between mb-3 product-name-and-price-div">
                                            <h5 class="mb-0">{{ product.name }}</h5>
                                            <h6 class="text-dark mb-0">{{ product.price|number_format(2, '.', ' ') }}
                                                Fcfa</h6>
                                        </div>
                                        <div class="d-flex justify-content-between mb-2 quantity-available-div">
                                            <p class="small text-muted mb-0">Quantité disponible : <span
                                                        {% for inventory in product.inventories %}
                                                            {% if loop.index == 1 %}
                                                                class="fw-bold">{{ inventory.quantity }}</span></p>
                                                            {% endif %}
                                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </section>
{% endblock %}
