<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <title>{% block title %}Accueil{% endblock %}</title>
        <link rel="icon"
              href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta content="" name="description"/>
        <meta content="" name="keywords"/>
        <!-- Favicons -->
        <link href="{{ asset('img/favicon.png') }}" rel="icon"/>
        <link href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon"/>
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Open+Sans:wght@300;400;500&display=swap"
              rel="stylesheet">
        <!-- Vendor CSS Files -->
        <link href="{{ asset('vendor/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('vendor/glightbox.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet"/>
        <!-- Template Main CSS File -->
        <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
        <!-- Font awesome CSS File -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <!-- SweetAlert JS-->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <!-- jQuery core JS-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ asset('js/base.js') }}"></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <header id="header" class="header">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navbar">
            <div class="container">
                <!-- Logo -->
                {% if app.request.attributes.get('_route') == 'app_home' %}
                    <a class="logo nav_link" href="#hero">
                        <img src="{{ asset('img/logo.png') }}" alt="lobi's event logo"/>
                    </a>
                {% else %}
                    <a class="logo nav_link" href="{{ path('app_home') }}">
                        <img src="{{ asset('img/logo.png') }}" alt="lobi's event logo"/>
                    </a>
                {% endif %}

                <!-- Mobile Toggle Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </button>

                <!-- Nav Links -->
                <div class="collapse navbar-collapse justify-content-md-end" id="navbarContent">
                    <ul class="navbar-nav mt-3 mt-lg-0">
                        {% if app.request.attributes.get('_route') == 'app_home' %}
                            <li><a class="nav_link" href="{{ path('app_products') }}">Produits</a></li>
                            <li><a class="nav_link" href="#gallery">Galerie</a></li>
                            <li><a class="nav_link" href="#services">Services</a></li>
                            <li><a class="nav_link" href="#about">À propos de nous</a></li>
                            <li><a class="nav_link" href="#contact">Contacts</a></li>
                            <li><a class="nav_link" aria-current="page" href="{{ path('app_cart') }}">Panier</a></li>
                        {% elseif app.request.attributes.get('_route') == 'app_cart' %}
                            <li><a class="nav_link" href="{{ path('app_products') }}">Produits</a></li>
                            <li><a class="nav_link" href="{{ path('app_home') }}#gallery">Galerie</a></li>
                            <li><a class="nav_link" href="{{ path('app_home') }}#services">Services</a></li>
                            <li><a class="nav_link" href="{{ path('app_home') }}#about">À propos de nous</a></li>
                            <li><a class="nav_link" href="{{ path('app_home') }}#contact">Contacts</a></li>
                            <li><a class="nav_link active" aria-current="page" href="{{ path('app_cart') }}">Panier</a></li>
                        {% else %}
                            <li><a class="nav_link active" href="{{ path('app_products') }}">Produits</a></li>
                            <li><a class="nav_link" href="{{ path('app_home') }}#gallery">Galerie</a></li>
                            <li><a class="nav_link" href="{{ path('app_home') }}#services">Services</a></li>
                            <li><a class="nav_link" href="{{ path('app_home') }}#about">À propos de nous</a></li>
                            <li><a class="nav_link" href="{{ path('app_home') }}#contact">Contacts</a></li>
                            <li><a class="nav_link" aria-current="page" href="{{ path('app_cart') }}">Panier</a></li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <div class="container flex-wrap">
            <div class="col-md-8 d-flex align-items-center">
                <div class="d-flex">
                    <span><i class="fa-regular fa-copyright"></i></span>&nbsp;&nbsp;
                    <strong>{{ 'now' | date('Y') }} Copyrights</strong>
                    <span style="margin-left: 1em;">Created by Abdoul-Rashid TAMBOURA</span>
                </div>
                <div class="nav col-md-4 d-flex social">
                    <div class="ms-3">
                        <a class="text-white" href="https://wa.link/ogdk5g" target="_blank">
                            <i class="bi-whatsapp fa-2x"></i>
                        </a>
                    </div>
                    <div class="ms-3">
                        <a class="text-white" href="https://www.facebook.com/profile.php?id=100085679448581" target="_blank">
                            <i class="bi-facebook fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="whatsapp_button">
            <a href="https://wa.link/ogdk5g" target="_blank">
                <i class="bi-whatsapp"></i>
            </a>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Vendor JS Files -->
    <script src="{{ asset('vendor/bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/glightbox.min.js') }}"></script>
    <!-- Template Main JS File -->
    <script src="{{ asset('js/main.js') }}"></script>
    </body>
</html>
